.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureCard {
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 12px;
  padding: 2rem;
  transition: all 0.2s ease-in-out;
  background-color: var(--ifm-card-background-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.featureCard:hover {
  transform: translateY(-4px);
  border-color: var(--ifm-color-primary);
  background-color: var(--ifm-background-color);
}

.featureCardHeader {
  margin-bottom: 1rem;
}

.featureTitle {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0;
}

.featureDescription {
  flex-grow: 1;
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--ifm-color-emphasis-800);
}
